<div class="message-screen">
  <div class="author-header">
    <p class="author-header-title"><%= "トーク" %></p>
  </div>
  <div class="screen-message">
    <%= image_tag "message1.png", class: "show-header" %>
  </div>
  <div class="screen-message-button">
    <%= link_to blogs_path do %>
      <%= image_tag "button-message1.png", class: "show-header" %>
    <% end %>
    <%= link_to blogs_path do %>
      <%= image_tag "button-message2.png", class: "show-header" %>
    <% end %>
  </div>
  <div class="tab-bar-message">
    <%= render "blogs/tab_bar" %>
  </div>
</div>
