<div class="author-header">
  <%= image_tag "back.png", size: Settings.author.back_button,
    class: "back-button go-back" %>
  <p class="author-header-title"><%= t ".author" %></p>
</div>
<div class="author-information">
  <%= image_tag blog.author_picture, class: "author-ava" %>
  <div class="information">
    <%= image_tag "author1.png", class: "info-author" %>
    <div class="text-under-image">
      <div class="row show-author-info">
        <div class="picture-author">
          <%= image_tag "name.png", class: "border-button" %>
        </div>
        <div class="text-author">
          <%= blog.author_name %>
        </div>
      </div>
      <div class="row show-author-info">
        <div class="picture-author">
          <%= image_tag "age.png", class: "border-button" %>
        </div>
        <div class=" text-author">
          <%= blog.author_age %>
        </div>
      </div>
      <div class="row show-author-info">
        <div class="picture-author">
          <%= image_tag "position.png", class: "border-button" %>
        </div>
        <div class="text-author">
          <%= blog.author_position %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fix-info">
  <%= image_tag "author-properties.png", class: "border-button" %>
</div>
