<% @blogs.each do |blog| %>
  <div class="blog-in-list">
    <% if blog.is_recommend? %>
      <%= image_tag "commend.png", size: Settings.blog.recommend_icon %>
      <div class="row1 blog-recommend">
        <%= render "blog_list", blog: blog %>
      </div>
    <% else %>
      <div class="row1">
        <%= render "blog_list", blog: blog %>
      </div>
    <% end %>
  </div>
  <div class="divider"></div>
<% end %>
