<div class="row blog-list-title">
  <p class="user-list-title">
    <%= link_to blog.title, blog_path(blog), data: {turbolinks: false} %>
  </p>
</div>
<div class="row">
  <div class="category-public">
    <span class="user-list-category" id="<%= blog.category %>">
      <%= t ".#{blog.category}" %>
    </span>
    <span class="user-list-public-time">
      <%= format_time(blog.public_time, :format_date_show) %>
    </span>
  </div>
  <div class="count-react">
    <span class="emotion-count">
      <%= image_tag "icon1.png", size: Settings.blog.icon_vote %>
      <span class="count-love">
        <%= blog.reacts.count_vote(0).size %>
      </span>
    </span>
    <span class="emotion-count">
      <%= image_tag "icon2.png", size: Settings.blog.icon_vote %>
      <span class="count-like">
        <%= blog.reacts.count_vote(1).size %>
      </span>
    </span>
    <span class="emotion-count">
      <%= image_tag "icon3.png", size: Settings.blog.icon_vote %>
      <span class="count-sad">
        <%= blog.reacts.count_vote(2).size %>
      </span>
    </span>
    <span class="emotion-count">
      <%= image_tag "icon4.png", size: Settings.blog.icon_vote %>
      <span class="count-sorrow">
        <%= blog.reacts.count_vote(3).size %>
      </span>
    </span>
  </div>
</div>
