<div id="my-blogs">
  <% category_blogs.each do |category_blog| %>
    <div class="blog-in-list">
      <% if category_blog.is_recommend? %>
        <%= image_tag "commend.png", size: Settings.blog.recommend_icon %>
        <div class="row1 blog-recommend">
          <%= render "blog_list", blog: category_blog %>
        </div>
      <% else %>
        <div class="row1">
          <%= render "blog_list", blog: category_blog %>
        </div>
      <% end %>
    </div>
    <div class="divider"></div>
  <% end %>
  <div id="infinite-scrolling">
    <%= paginate category_blogs, theme: "twitter-bootstrap-3" %>
  </div>
</div>
