<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="image-modal">
      <%= image_tag "modal.png" %>
    </div>
    <div class="button-modal">
      <%= link_to image_tag("modal-button1.png"), "javascrip:void(0)",
        data: {dismiss: "modal"} %>
      <%= link_to image_tag("modal-button2.png"), app_author_path %>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $('#myModal').modal();
</script>
