<div id="react-form">
  <div class="react-title">
    <%= image_tag "title-react.png", class: "title-react" %>
  </div>
  <div class="button-form">
    <div class="react-button">
      <% if react.present? && react.love? %>
        <div class="loved" value="love">
          <%= image_tag "voted.png", class: "emotion" %>
          <%= image_tag "voted-button.png", class: "border-button" %>
          <p class="text-emotion text-voted"><%= t ".love" %></p>
        </div>
        <div class="no-love hidden-input">
          <%= image_tag "emo1.png", class: "emotion" %>
          <%= image_tag "border-button.png", class: "border-button" %>
          <p class="text-emotion"><%= t ".love" %></p>
        </div>
      <% else %>
        <div class="no-love">
          <%= image_tag "emo1.png", class: "emotion" %>
          <%= image_tag "border-button.png", class: "border-button" %>
          <p class="text-emotion"><%= t ".love" %></p>
        </div>
        <div class="loved hidden-input" value="love">
          <%= image_tag "voted.png", class: "emotion" %>
          <%= image_tag "voted-button.png", class: "border-button" %>
          <p class="text-emotion text-voted"><%= t ".love" %></p>
        </div>
      <% end %>
    </div>
    <div class="react-button">
      <% if react.present? && react.like? %>
        <div class="liked" value="like">
          <%= image_tag "voted.png", class: "emotion" %>
          <%= image_tag "voted-button.png", class: "border-button" %>
          <p class="text-emotion text-voted"><%= t ".like" %></p>
        </div>
        <div class="no-like hidden-input">
          <%= image_tag "emo2.png", class: "emotion" %>
          <%= image_tag "border-button.png", class: "border-button" %>
          <p class="text-emotion"><%= t ".like" %></p>
        </div>
      <% else %>
        <div class="no-like">
          <%= image_tag "emo2.png", class: "emotion" %>
          <%= image_tag "border-button.png", class: "border-button" %>
          <p class="text-emotion"><%= t ".like" %></p>
        </div>
        <div class="liked hidden-input" value="like">
          <%= image_tag "voted.png", class: "emotion" %>
          <%= image_tag "voted-button.png", class: "border-button" %>
          <p class="text-emotion text-voted"><%= t ".like" %></p>
        </div>
      <% end %>
    </div>
  </div>
  <div class="form-button">
    <div class="react-button">
      <% if react.present? && react.sad? %>
        <div class="sad" value="sad">
          <%= image_tag "voted.png", class: "emotion" %>
          <%= image_tag "voted-button.png", class: "border-button" %>
          <p class="text-emotion text-voted"><%= t ".sad" %></p>
        </div>
        <div class="no-sad hidden-input">
          <%= image_tag "emo3.png", class: "emotion" %>
          <%= image_tag "border-button.png", class: "border-button" %>
          <p class="text-emotion"><%= t ".sad" %></p>
        </div>
      <% else %>
        <div class="sad hidden-input" value="sad">
          <%= image_tag "voted.png", class: "emotion" %>
          <%= image_tag "voted-button.png", class: "border-button" %>
          <p class="text-emotion text-voted"><%= t ".sad" %></p>
        </div>
        <div class="no-sad">
          <%= image_tag "emo3.png", class: "emotion" %>
          <%= image_tag "border-button.png", class: "border-button" %>
          <p class="text-emotion"><%= t ".sad" %></p>
        </div>
      <% end %>
    </div>
    <div class="react-button">
      <% if react.present? && react.sorrow? %>
        <div class="sorrow" value="sorrow">
          <%= image_tag "voted.png", class: "emotion" %>
          <%= image_tag "voted-button.png", class: "border-button" %>
          <p class="text-emotion text-voted"><%= t ".sorrow" %></p>
        </div>
        <div class="no-sorrow hidden-input">
          <%= image_tag "emo4.png", class: "emotion" %>
          <%= image_tag "border-button.png", class: "border-button" %>
          <p class="text-emotion"><%= t ".sorrow" %></p>
        </div>
      <% else %>
        <div class="sorrow hidden-input" value="sorrow">
          <%= image_tag "voted.png", class: "emotion" %>
          <%= image_tag "voted-button.png", class: "border-button" %>
          <p class="text-emotion text-voted"><%= t ".sorrow" %></p>
        </div>
        <div class="no-sorrow">
          <%= image_tag "emo4.png", class: "emotion" %>
          <%= image_tag "border-button.png", class: "border-button" %>
          <p class="text-emotion"><%= t ".sorrow" %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
<input type="hidden" value="<%= blog.id %>" class="blog-id"></input>
<% if current_user.present? %>
  <input type="hidden" value="<%= current_user.id %>" class="user-id"></input>
<% end %>
