<div id="my-blogs">
  <% recommend_blogs.each do |recommend_blog| %>
    <div class="blog-in-list">
      <%= image_tag "commend.png", size: Settings.blog.recommend_icon %>
      <div class="row1 blog-recommend">
        <%= render "blog_list", blog: recommend_blog %>
      </div>
    </div>
    <div class="divider"></div>
  <% end %>
  <div id="infinite-scrolling">
    <%= paginate recommend_blogs, theme: "twitter-bootstrap-3" %>
  </div>
</div>
