<div class="social-share-button">
  <%= link_to (image_tag Settings.share.twitter),
    "https://twitter.com/intent/tweet?url=http://localhost:3000/blogs/#{blog.id}/#{blog.token}&text=#{blog.title}",
    class: "icon-share" %>
  <%= link_to (image_tag Settings.share.facebook),
    'https://www.facebook.com/sharer.php?u=http://localhost:3000/blogs/#{blog.id}/#{blog.token}&text=#{blog.title}',
    class: "icon-share" %>
  <%= link_to (image_tag Settings.share.line),
    "https://lineit.line.me/share/ui?url=http://localhost:3000/blogs/#{blog.id}/#{blog.token}&text=#{blog.title}",
    class: "icon-share" %>
</div>
