<nav class="navbar navbar-fixed-bottom tab-bar">
  <div class="container-fluid" id="tab-bar-container">
    <ul class="nav navbar-nav text-center">
      <li class="tab-message">
        <%= link_to messages_index_path do %>
          <%= image_tag "tab-bar1.png", class: "tab-message-show" %>
          <%= image_tag "tab-active1.png", class: "tab-message-active" %>
        <% end %>
      </li>
      <li class="tab-index">
        <%= link_to blogs_path, data: {turbolinks: false} do %>
          <%= image_tag "tab-bar2.png", class: "tab-index-show" %>
          <%= image_tag "tab-active2.png", class: "tab-index-active" %>
        <% end %>
      </li>
      <li class="tab-profile">
        <% if current_user.present? %>
          <%= link_to user_path(current_user) do %>
            <%= image_tag "tab-bar3.png", class: "tab-profile-show" %>
            <%= image_tag "tab-active3.png", class: "tab-profile-active" %>
          <% end %>
        <% else %>
          <%= link_to new_user_session_path do %>
            <%= image_tag "login.png" %>
          <% end %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
