<div class="app-author-header">
  <%= link_to image_tag("back.png", size: Settings.author.back_button),
    root_path, class: "go-back button-back" %>
  <p class="author-header-title app-author-title">
    <%= t "blogs.author.author" %>
  </p>
</div>
<div class="app_author">
  <%= image_tag "app_author.png" %>
</div>
