$('#my-blogs').append('<%= j render "blogs" %>');
<% if @blogs.next_page %>
  $('.pagination').replaceWith('<%= j paginate @blogs %>');
<% else %>
  $(window).off('scroll');
  $('.pagination').remove();
<% end %>
