<div class="fix-top">
  <div class="author-header">
    <p class="author-header-title"><%= t ".list" %></p>
  </div>
  <div id="my-div" class="menu-index">
    <div id="my-content">
      <ul class="nav nav-tabs" id="menu-list">
        <li class="active">
          <a href="#home" data-toggle="tab" value="home"
            id="tab-home">
            <%= t ".home" %>
          </a>
        </li>
        <li>
          <a href="#recommend" data-toggle="tab" value="recommend"
            id="tab-recommend">
            <%= t ".recommend" %>
          </a>
        </li>
        <% Blog.categories.values.each do |category| %>
          <li>
            <a href="#tab<%= category %>" data-toggle="tab" value="<%= category %>"
              class="category-tab" id="tab-<%= category %>">
              <%= t ".category#{category}" %>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="tab-bar-bottom"></div>
    </div>
  </div>
</div>
<div class="tab-content">
  <div id="home" class="tab-pane in active">
    <div class="user-blog-list">
      <div id="my-blogs">
        <%= render "blogs" %>
        <div id="infinite-scrolling">
          <%= paginate @blogs, theme: "twitter-bootstrap-3" %>
        </div>
      </div>
    </div>
  </div>
  <div id="recommend" class="tab-pane">
    <div class="user-blog-recommend">
    </div>
  </div>
  <% Blog.categories.values.each do |category| %>
    <div id="tab<%= category %>" class="tab-pane user-blog-list">
    </div>
  <% end %>
</div>
<div class="tab-bar-index">
  <%= render "tab_bar" %>
</div>
<%= render "modal" if present_modal %>
