<div class="show-blog-form">
  <div class="author-header">
    <p class="author-header-title"><%= "なるほどブログ" %></p>
  </div>
  <% if @blog.is_recommend? %>
    <%= image_tag "commend.png", size: Settings.blog.recommend_icon %>
    <div class="row1 blog-recommend">
      <%= render "blog_list", blog: @blog %>
    </div>
  <% else %>
    <div class="row1">
      <%= render "blog_list", blog: @blog %>
    </div>
  <% end %>
  <div class="content-show">
    <%= render "social_share_button", blog: @blog %>
    <div class="blog-content">
      <%= image_tag @blog.image, id: "img-thumbnail" %>
      <div class="blog-body-show">
        <%= @blog.body.html_safe %>
      </div>
    </div>
    <div class="blog-author-show">
      <%= image_tag "show-author.png", class: "show-header" %>
      <%= link_to image_tag("author-details-show.png"), 'javascript:void(0)',
        class: "author-details-button", id: "#{@blog.id}" %>
    </div>
  </div>
  <%= render "react", react: @react, blog: @blog %>
  <div class="content-show">
    <div class="social-share-button">
      <div class="sns-div">
        <%= image_tag "SNS.png", class: "sns-image" %>
      </div>
      <%= render "social_share_button", blog: @blog %>
    </div>
  </div>
</div>
<div class="show-author">
</div>
<div class="tab-bar-index">
  <%= render "tab_bar" %>
</div>
