<div class="author-header">
  <p class="author-header-title"><%= "プロファイル編集" %></p>
</div>
<div class="form-update-user">
  <%= form_for @user do |f| %>
    <div class="row">
      <div class="ava-column">
        <% if @user.avatar? %>
          <%= image_tag @user.avatar, class: "image-ava", id: "ava-preview" %>
        <% else %>
          <%= image_tag "user-avatar.png", class: "image-ava", id: "ava-preview" %>
        <% end %>
        <span>
          <%= f.file_field :avatar, accept: Settings.image_format_accept, class: "change-ava" %>
        </span>
      </div>
      <div class="input-column">
        <div class="field">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="field">
          <%= f.label :email %>
          <%= f.text_field :email, class: "form-control" %>
        </div>
      </div>
    </div></br>
    <div class="update-profile">
      <%= link_to t(".cancel"), user_path(@user), class: "btn btn-default" %>
      <%= button_tag t(".update"), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
<div class="tab-bar-profile">
  <%= render "blogs/tab_bar" %>
</div>
