<div class="author-header">
  <p class="author-header-title"><%= "プロフィール" %></p>
</div>
<div class="author-information">
  <%= image_tag "user-avatar.png", class: "user-ava" %>
  <div class="information">
    <div class="row show-author-info">
      <div class="picture-user">
        <label class="label-profile"><%= t ".name" %><label>
      </div>
      <div class="text-user">
        <%= current_user.name %>
      </div>
      <input type="text" class="name-user hidden-input"></input>
    </div>
    <div class="row show-author-info">
      <div class="picture-user">
        <label class="label-profile"><%= t ".email" %><label>
      </div>
      <div class="text-user">
        <%= current_user.email %>
      </div>
      <input type="text" class="email-user hidden-input"></input>
    </div>
  </div>
</div>

<div class="update-profile">
  <%= link_to "Log out", destroy_user_session_path, method: :delete,
    class: "btn btn-warning", id: "btn-logout" %>
  <%= link_to "Update", edit_user_path(@user), class: "btn btn-primary",
    id: "btn-update" %>
</div>
<div class="tab-bar-profile">
  <%= render "blogs/tab_bar" %>
</div>
