<div class="author-header">
  <p class="author-header-title"><%= "ログイン" %></p>
</div>

<div class="col col-md-6 col-md-offset-3">
  <h1 class="text-center">Log in</h1>

  <%= form_for :admin, url: session_path(:admin) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div></br>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div></br>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div></br>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in", class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= render "admins/shared/links" %>
</div>
