<div class="login-for-user">
  <div class="author-header">
  <p class="author-header-title"><%= "ログイン" %></p>
  </div>
  <div class="form-login-user">
    <h1 class="text-center"><%= "Login via social network" %></h1></br>
    <div class="text-center">
      <%= link_to user_google_oauth2_omniauth_authorize_path do %>
      <span>
        <%= image_tag "google_icon.png", size: "180x180" %>
      </span>
      <% end %>
      <%= link_to user_facebook_omniauth_authorize_path  do %>
      <span>
        <%= image_tag "fb-icon.png", size: "153x153" %>
      </span>
      <% end %>
    </div>
  </div>
</div>
