#yield {
  padding: 0px 5% 20px;
}

#menu {
  background-color: #424242;
  .container {
    margin: 0;
    padding: 0;
    li a {
      color: #ffffff;
      font-family: "HiraKakuProN-W3";
      font-size: 24px;
    }
    li .dropdown-menu {
      margin-top: 10px;
      background-color: #F5F5F5;
      li a {
        color: #1C1C1C;
      }
    }
    .dropdown-toggle {
      background-color: #424242;
    }
  }
}

#myModal {
  .modal-dialog {
    .image-modal {
      img {
        height: 75vh;
        width: 100vw;
      }
    }
    .button-modal {
      padding-top: 1vh;
      height: 25vh;
      img {
        height: 10vh;
        margin-bottom: 0.5vh;
      }
    }
  }
  .modal-dialog * {
    max-width: 100%;
  }
}

.app_author {
  padding: 20px 0;
  img {
    width: 100%;
  }
}

#infinite-scrolling {
  display: none;
}

#preview-content {
  .modal-dialog * {
    max-width: 100%;
  }
}

.preview {
  margin-bottom: 30px;
}

#create-new-blog {
  padding: 5px 30px;
  font-size: 18px;
}

.login-via-network {
  a:hover {
    text-decoration: none;
  }
  text-align: center;
  margin-left: -20px;
}

#sign-in {
  padding-left: 20px;
  padding-right: 20px;
  vertical-align: middle;
}

#list-table td 
{
  vertical-align: middle;
}

.td-title {
  width: 20%;
}

.error-message {
  color: #e65100;
  font-size: 14px;
}

#label {
  width: 20%;
  font-size: 18px;
}

.label-form {
  width: 100%;
  background-color: #01579b;
  color: white;
  text-align: center;
  padding: 6px 12px;
  border-radius: 4px;
  font-family: "HiraKakuProN-W3";
}

.form-blog {
  padding: 10px 10%;
}

.hidden-input {
  display: none;
}

.search-form {
  padding: 20px;
  background: #eeeeee;
  border-radius: 6px;
}

.divider {
  background-color: #e0e0e0;
  height: 2px;
}

.create-button {
  padding-bottom: 20px;
}

.setting-author {
  padding: 20px;
}

#blog_image {
  display: none;
}

#blog_author_picture {
  display: none;
}

.message-error {
  color: #e65100;
  font-size: 14px;
  font-style: italic;
  text-align: center;
}

.body-confirm {
  border: 2px solid #dddddd;
  padding: 20px;
}

#blog-form {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.tab-bar-bottom {
  background-color: #ffbb01;
  height: 18px;
  margin-top: -18px;
  z-index: 999;
  position: relative;
}

#menu-list {
  background-color: #ffffff;
  border-radius: 0;
  width: 100%;
  border-bottom: none;

  .active {
    a {
      background-color: #ffbb01;
      color: #ffffff;
      border-radius: 0;
      border: none;
      margin: 0;
    }
  }

  li {
    width: 20%;
    font-size: 30px;
    border-radius: 0;
    text-align: center;
    font-family: "HiraKakuProN-W3";
    margin-bottom: 0;

    a {
      margin: 0;
      padding-top: 25px;
      padding-bottom: 25px;
      border-radius: 0;
      color: rgb(51,51,51);
    }

    a:hover {
      background-color: #ffbb01;
      color: #ffffff;
      border: none;
    }
  }
}

.user-list-title {
  width: 100%;
  font-size: 60px;
  font-family: "HiraKakuProN-W6";

  a {
    color: rgb(51,51,51);
    text-decoration: none;
  }
  a:hover {
    color: rgb(51,51,51);
    text-decoration: none;
  }
}

.user-list-category {
  font-size: 34px;
  border-radius: 3px;
  font-family: "HiraKakuProN-W6";
  padding: 10px;
  margin-right: 20px;
}

#family {
  border: 3px solid #0da5eb;
  color: rgb(14,166,237);
}

#study {
  border: 3px solid #6baf00;
  color: rgb(108,176,0);
}

#school {
  border: 3px solid #e763b3;
  color: rgb(232,99,180);
}

.user-list-public-time {
  font-size: 34px;
  color: rgb(167,167,167);
  font-family: "Roboto-Medium";
}

.row1 {
  padding-left: 80px;
  padding-right: 80px;
  margin-bottom: 40px;
}

.blog-recommend {
  margin-top: -50px;
}

.user-blog-recommend {
  margin-top: 256px;
}

.category-public {
  width: 40%;
  float: left;
}

.count-react {
  width: 60%;
  float: right;
  font-size: 34px;
  color: rgb(51,51,51);
  font-family: "Roboto-Medium";
  text-align: right;
}

.emotion-count {
  margin-right: 10px;
}

.user-blog-list {
  width: 100%;
  margin-top: 256px; 
  margin-bottom: 120px;
}

.icon-share {
  width: 33%;
}

.content-show {
  padding: 40px;
}

#img-thumbnail {
  margin-top: 20px;
  width: 100%;
  height: 800px;
}

.blog-list-title {
  margin-bottom: 40px;
}

.show-header {
  width: 100%;
}

.social-share-button {
  margin-bottom: 60px;
  a {
    img {
      width: 33%;
    }
  }
}

.form-update-user {
  padding: 40px;
  top: 10vh;
  position: relative;
}

.ava-column {
  width: 30%;
  float: left;
}

.input-column {
  width: 50%;
  float: left;
}

#ava-preview {
  width: 25vw;
  height: 15vh;
}

.content-show {
  padding: 60px;
}

.blog-body-show {
  font-size: 34px;
  margin-top: 80px;
}

.blog-author-show {
  padding: 60px 80px;
  margin-top: 80px;
  border: 3px dashed #000000;
  border-radius: 50px;
  color: rgb(14,166,237);
}

.author-details-button {
  img {
    width: 100%;
    margin-top: 60px;
    cursor: pointer;
  }
}

.fix-top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}

#react-form {
  background-color: #ff7300;
}

.sns-image {
  width: 50%;
}

.sns-div {
  padding: 60px;
  text-align: center;
}

.react-title {
  text-align: center;
}

.title-react {
  float: center;
  width: 40%;
  margin: 80px;
}

.button-form {
  padding: 0px 40px;
  display: flex;
}

.react-button {
  width: 50%;
  // padding: 20px;
  margin: 40px;
  cursor: pointer;
}

.border-button {
  width: 100%;
}

.form-button {
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 60px;
}

.emotion {
  width: 20%;
  margin-left: 10%;
  margin-right: 20px;
  margin-bottom: -250px;
  z-index: 999;
  position: relative;
}

.text-emotion {
  color: rgb(255,255,255);
  font-family: "HiraKakuProN-W6";
  font-size: 54px;
  width: 70%;
  float: right;
  margin-top: -170px;
  padding-left: 20px;
}

.text-voted {
  color: rgb(255,115,0);
  z-index: 999;
  position: relative;
}

.text-under-image {
  margin-top: 80px;
}

.author-information {
  display: flex;
  margin-top: 60px;
  margin-bottom: 50px;
}

.author-ava {
  width: 40%;
  padding: 20px;
}

.information {
  width: 60%;
  margin-top: 80px;
  margin-bottom: 60px;
}

.info-author {
  width: 100%;
  padding-right: 60px;
}

.update-profile {
  margin-bottom: 150px;
  text-align: center;
}

.show-author-info {
  display: flex;
  margin-bottom: 20px;
}

.picture-author {
  width: 30%;
}

.text-author {
  padding: 20px;
  width: 70%;
  font-size: 54px;
  color: rgb(51,51,51);
  font-family: "HiraKakuPro-W3";
}

.author-header {
  background-color: #ff7300;
  padding: 30px 60px;
}

.app-author-header {
  background-color: #ff7300;
  padding: 30px 60px;
  display: flex;
  a img {
    height: 4vh;
  }
}

.button-back {
  width: 10vw;
}

.app-author-title {
  width: 90vw;
}

.picture-user {
  width: 30%;
  padding-top: 20px;
}

.label-profile {
  width: 100%;
  padding: 0 30px;
  margin-left: 20px;
  font-size: 54px;
  color: rgb(255,255,255);
  background-color: #f8b600;
  font-family: "HiraKakuProN-W6";
  text-align: center;
  border-radius: 35px;
}

.author-header-title {
  font-size: 60px;
  color: rgb(255,255,255);
  font-family: "HiraKakuProN-W6";
  text-align: center;
}

.go-back {
  margin-bottom: -90px;
  cursor: pointer;
}

.fix-info {
  margin-bottom: 80px;
}

.show-blog-form {
  margin-bottom: 100px;
}

.tab-bar {
  background-color: #3f4149;
}

.text-center .active{
  background-color: #35373d;
}

.user-ava {
  width: 30vw;
  height: 20vh;
  padding: 20px;
}

.text-user {
  padding: 20px;
  width: 70%;
  font-size: 50px;
  color: rgb(51,51,51);
  font-family: "HiraKakuPro-W3";
}

.tab-bar-login {
  padding-top: 10px;
  font-size: 20px;
  color: rgb(255,255,255);
  font-family: "HiraKakuProN-W3";
  text-align: center;
}

#tab-bar-container {
  padding-left: 0;
  padding-right: 0;
  ul {
    width: 100%;
    li {
      width: 33.333333333%;
      a:hover {
        background-color: #35373d;
      }
    }
  }
}

#btn-logout {
  width: 10%;
  font-size: 30px;
  font-family: "HiraKakuProN-W3";
  border-radius: 0;
}

#btn-update {
  width: 10%;
  font-size: 30px;
  font-family: "HiraKakuProN-W3";
  border-radius: 0;
  margin-left: 30px;
}

.button-search {
  padding-top: 5px;
}

.tab-bar-index {
  .tab-index {
    background-color: #35373d;
  }

  .tab-message-active {
    display: none;
  }

  .tab-index-show {
    display: none;
  }

  .tab-profile-active {
    display: none;
  }
}

.tab-bar-profile {
  .tab-profile {
    background-color: #35373d;
  }

  .tab-message-active {
    display: none;
  }

  .tab-index-active {
    display: none;
  }

  .tab-profile-show {
    display: none;
  }
}

.tab-bar-message {
  .tab-message {
    background-color: #35373d;
  }

  .tab-message-show {
    display: none;
  }

  .tab-index-active {
    display: none;
  }

  .tab-profile-active {
    display: none;
  }
}

.col-login-account {
  width: 65%;
  float: left;
  padding: 20px;
  border-right: 1px solid #e5e5e5;
}

.col-login-network {
  width: 35%;
  float: left;
}

.col-login-label {
  width: 25%;
  float: left;
  padding-right: 20px;
  direction: rtl;
}

.col-login-input {
  width: 75%;
  float: left;

  .form-group {
    margin-top: 10px;
  }
}

.login-input {
  padding-bottom: 40px;
}

.screen-message {
  background-color: #F8F8FF;
  height: 50vh;
  padding-top: 80px;
  padding-right: 40px;
  padding-left: 20px;
}

.screen-message-button {
  background-color: #666666;
  height: 50vh;
  margin-bottom: 100px;
  padding: 30px 200px;
  img {
    margin-bottom: 50px;
    height: 12vh;
  }
}

#my-div {
  overflow: auto;
}

#my-content {
  width: 125%;
}

.login-for-user {
  color: #ffffff;
  background-color: #ffb74d;
  height: 100vh;
}

.form-login-user {
  position: relative;
  top: 15vh;
  font-family: "HiraKakuProN-W3";
  span {
    font-size: 34px;
  }

  h1 {
    font-size: 54px;
  }
}

.home-admin {
  background-color: #eceff1;
  border: 1px solid #cfd8dc;
  border-radius: 4px;
  padding-bottom: 30px;
  margin-top: 40px;
}

.actived {
  background-color: #222222;
}

@media screen and (max-width: 1024px) {
  .user-blog-recommend {
    margin-top: 210px;
  }

  .user-blog-list {
    margin-top: 208px;
  }

  .text-author {
    padding: 0px 20px;
  }

  .text-user {
    font-size: 30px;
  }

  .author-header-title {
    font-size: 30px;
  }

  .label-profile {
    // padding: 0 30px;
    font-size: 34px;
  }

  .emotion {
    width: 20%;
    margin-left: 10%;
    margin-right: 20px;
    margin-bottom: -170px;
    z-index: 999;
    position: relative;
  }

  .text-voted {
    font-size: 40px;
    margin-top: -120px;
  }

  .text-emotion {
    font-size: 40px;
    margin-top: -120px;
  }

  #img-thumbnail {
    height: 600px;
  }

  #modal-login {
    position: absolute;
    align-items: center;
    top: calc(30vh);
    width: 100%;
  }

  .image-ava {
    width: 90%;
    height: 20vh;
  }

  .screen-message {
    height: 70vh;
  }

  .screen-message-button {
    background-color: #666666;
    height: 30vh;
    margin-bottom: 100px;
    padding: 80px;
    img {
      margin-bottom: 30px;
      height: auto;
    }
  }

  .form-login-user {
    top: 30vh;

    span {
      font-size: 54px;
    }

    h1 {
      font-size: 84px;
    }
  }

  .go-back {
    margin-bottom: -60px;
    cursor: pointer;
  }

  #btn-logout {
  font-size: 25px;
  }

  #btn-update {
    font-size: 25px;
  }
}

@media only screen and (max-width: 480px) and (min-width: 320px){
  .text-voted {
    font-size: 30px;
  }

  .text-emotion {
    font-size: 30px;
  }
}
