<div class="form-blog">
  <div id="blog-form">
    <%= form_for [:admin, @blog] do |f| %>
      <%= render "shared/error_message", object: f.object %>
      <div class="row">
        <div class="col-md-2">
          <%= f.label :title, t(".title"), class: "label-form" %>
        </div>
        <div class="col-md-10">
          <%= f.text_field :title, class: "blog-title form-control" %>
          <div id="title-confirm" class="confirm-blog"></div>
          <div id="title-error" class="error-message"></div>
        </div>
      </div></br>

      <div class="row">
        <div class="col-md-2">
          <%= f.label :category, t(".category"), class: "label-form" %>
        </div>
        <div class="col-md-2">
          <%= f.select :category, Blog.categories.keys.map{ |c| [t(".#{c}"), c] },
            {selected: @blog.category, include_blank: true},
            {class: "form-control category-blog"} %>
          <div id="category-confirm" class="confirm-blog"></div>
          <div id="category-error" class="error-message"></div>
        </div>
      </div></br>

      <div class="row">
        <div class="col-md-2">
          <%= f.label :public_time, t(".public_time"), class: "label-form" %>
        </div>
        <div class="col-md-3">
          <%= f.text_field :public_time, class: "datetimepicker form-control",
            value: format_time(@blog.public_time, :format_date),
            id: "blog-time" %>
          <div id="public-time-confirm" class="confirm-blog"></div>
          <div id="public-time-error" class="error-message"></div>
        </div>
      </div></br>

      <div class="row">
        <div class="col-md-2">
          <%= f.label :is_public, t(".public"), class: "label-form" %>
        </div>
        <div class="col-md-10 is-public">
          <%= f.check_box :is_public %>
          <div class="is-public-confirm"></div>
        </div>
      </div></br>

      <div class="row">
        <div class="col-md-2">
          <%= f.label :is_recommend, t(".recommend"), class: "label-form" %>
        </div>
        <div class="col-md-10 is-recomend">
          <%= f.check_box :is_recommend %>
          <div class="is-recommend-confirm"></div>
        </div>
      </div></br>

      <div class="row">
        <div class="col-md-2">
          <%= f.label :image, t(".image"), class: "label-form" %>
        </div>
        <div class="col-md-10">
          <% if @blog.image? %>
            <%= image_tag @blog.image, size: Settings.avatar_create_size,
              id: "image-view" %>
          <% else %>
            <%= image_tag Settings.default_blog_image, id: "image-view",
              class: "image-create", size: Settings.avatar_create_size %>
          <% end %></br>
          <div class="input-image">
            <h4><%= t ".image_require" %></h4>
            <div>
              <label for="blog_image" class="btn btn-default">
                <%= t ".open" %>
              </label>
              <%= f.file_field :image, accept: Settings.image.image_format_accept,
                class: "upload-image" %>
            </div></br>
          </div>
          <div id="image-error" class="error-message"></div>
        </div>
      </div></br>

      <div class="row">
        <div class="col-md-2">
          <%= f.label :body, t(".body"), class: "label-form" %>
        </div>
        <div class="col-md-10">
          <div class="preview">
            <%= link_to t(".preview"), "javascript:void(0)", class: "preview-btn" %>
          </div>
          <div class="body-input">
            <%= f.text_area :body, class: "ckeditor" %>
          </div>
          <div class="body-confirm hidden-input"></div>
          <div id="body-error" class="error-message"></div>
        </div>
      </div></br>

      <h2><%= t ".setting_for_author" %></h2>
      <div class="setting-author">
        <div class="row">
          <div class="col-md-2">
            <%= f.label :author_name, t(".author_name"), class: "label-form" %>
          </div>
          <div class="col-md-4">
            <%= f.text_field :author_name, class: "blog-author-name form-control" %>
            <div id="author-name-confirm" class="confirm-blog"></div>
            <div id="author-name-error" class="error-message"></div>
          </div>
        </div></br>

        <div class="row">
          <div class="col-md-2">
            <%= f.label :author_position, t(".author_position"),
              class: "label-form" %>
          </div>
          <div class="col-md-4">
            <%= f.text_field :author_position,
              class: "blog-author-position form-control" %>
            <div id="author-position-confirm" class="confirm-blog"></div>
            <div id="author-position-error" class="error-message"></div>
          </div>
        </div></br>

        <div class="row">
          <div class="col-md-2">
            <%= f.label :author_age, t(".author_age"), class: "label-form" %>
          </div>
          <div class="col-md-4">
            <%= f.number_field :author_age, class: "blog-author-age form-control" %>
            <div id="author-age-confirm" class="confirm-blog"></div>
            <div id="author-age-error" class="error-message"></div>
          </div>
        </div></br>

        <div class="row">
          <div class="col-md-2">
            <%= f.label :author_picture, t(".author_picture"),
              class: "label-form" %>
          </div>
          <div class="col-md-4">
            <% if @blog.author_picture? %>
              <%= image_tag @blog.author_picture, id: "picture-view",
                size: Settings.avatar_create_size %>
            <% else %>
              <%= image_tag Settings.author.image, id: "picture-view",
                size: Settings.avatar_create_size %>
            <% end %>
            <div class="input-image">
              <h4><%= t ".image_require" %></h4>
              <div>
                <label for="blog_author_picture" class="btn btn-default">
                  <%= t ".open" %>
                </label>
                <%= f.file_field :author_picture,
                  accept: Settings.image.image_format_accept,
                  class: "upload-picture" %>
              </div>
            </div>
            <div id="author-picture-error" class="error-message"></div>
          </div>
        </div></br>
      </div>
      <%= button_tag t(".confirm"), class: "save-after-confirm hidden-input" %>
    <% end %>
    <div class="row">
      <div class="confirm-list-button">
        <div class="col-md-4 col-md-offset-5">
          <div class="col-md-4">
            <%= link_to t(".list"), admin_blogs_path, data: {turbolinks: false},
              class: "btn btn-default form-control" %>
          </div>
          <div class="col-md-4 col-md-offset-1">
            <%= button_tag t(".confirm"),
              class: "btn btn-primary confirm-blog form-control" %>
          </div>
        </div>
      </div>
      <div id="save-button" class="hidden-input">
        <div class="col-md-4 col-md-offset-5">
          <div class="col-md-4">
            <%= button_tag t(".cancel"), data: {turbolinks: false},
              class: "btn btn-default cancel-confirm form-control" %>
          </div>
          <div class="col-md-4 col-md-offset-1">
            <%= button_tag t(".save"),
              class: "btn btn-primary save-blog form-control" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="preview-content" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t ".body" %></h4>
      </div>
      <div class="modal-body" id="modal-content">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"
          data-dismiss="modal"><%= t ".close" %></button>
      </div>
    </div>
  </div>
</div>
