<% list.each_with_index do |blog, index| %>
  <tr>
    <td><%= blog.id %></td>
    <td>
      <%= format_time(blog.created_at, :format_datetime) %>
    </td>
    <td class="td-title"><%= blog.title %></td>
    <td><%= t(".#{blog.category}") %></td>
    <td>
      <% if blog.is_recommend? %>
        <%= image_tag "recommend-icon.png", size: "20x20" %>
      <% end %>
    </td>
    <td><%= blog.author_name  %></td>
    <td>
      <% if blog.image.present? %>
        <%= image_tag blog.image, size: Settings.size_image_thumbnail %>
      <% else %>
        <%= image_tag Settings.default_blog_image,
          size: Settings.size_image_thumbnail %>
      <% end %>
    </td>
    <td id="blog<%= blog.id %>">
      <% if blog.is_public? && (blog.public_time < Time.zone.now) %>
        <%= t ".public" %>
      <% else %>
        <%= t ".unpublic" %>
      <% end %>
    </td>
    <td>
      <div class="public-time<%= blog.id %>">
        <%= format_time(blog.public_time, :format_datetime) %>
      </div>
      <div class="hidden-input" id="change-time<%= blog.id %>">
        <input class="form-control" id="setting-time<%= blog.id %>"
          value="<%= format_time(blog.public_time, :format_datetime) %>">
      </div></br>
      <%= button_tag t(".change_public_time"), id: "#{blog.id}",
        class: "btn btn-default setting-time" %>
      <% if blog.is_public? && (blog.public_time < Time.zone.now) %>
        <%= button_tag t(".stop"), id: "blog-#{blog.id}",
          class: "btn btn-danger setting-public hidden-input",
          value: "#{blog.id}" %>
      <% end %>
    </td>
    <td><%= link_to t(".edit"), edit_admin_blog_path(blog),
      class: "btn btn-default", data: {turbolinks: false} %></td>
  </tr>
<% end %>
