<%= render "layouts/header" %>
<%= render "layouts/flash" %>
<div class="col col-md-3 col-md-offset-2 home-admin">
  <h1><%= t ".blog" %></h1>
  <li><%= link_to t(".list"), admin_blogs_path %></li>
  <li><%= link_to t(".create"), new_admin_blog_path %></li>
</div>
