<%= render "layouts/header" %>
<div id="yield">
  <%= render "layouts/flash" %>
  <div class="row">
    <div class="search-form">
      <h2><%= t ".search_filter" %></h2>
      <hr class="divider"></hr>
      <%= search_form_for [:admin, @search ] do |f| %>
        <div class="row">
          <div class="col-md-3">
            <%= f.label :title, t(".title") %>
            <%= f.text_field :title_cont, class: "form-control" %>
          </div>
          <div class="col-md-2">
            <%= f.label :category, t(".category") %>
            <%= f.select :category_eq,
              options_for_select(Blog.categories.map{ |c|  [ t(".#{c[0]}"), c[1] ] },
              @search.category_eq), {include_blank: true}, class: "form-control" %>
          </div>
          <div class="col-md-2">
            <%= f.label :is_public, t(".is_public") %>
            <%= f.select :is_public_eq,
              options_for_select([[t(".public"), true], [t(".unpublic"), false]]),
              {include_blank: true}, class: "form-control" %>
          </div>
           <div class="col-md-2">
            <%= f.label :is_recommend, t(".recommend") %>
            <%= f.select :is_recommend_eq,
              options_for_select([[t(".recommend"), true], [t(".unrecommend"), false]]),
              {include_blank: true}, class: "form-control" %>
          </div>
          <div class="col-md-2">
            <label><%= t ".sort" %></label>
            <select id="sort-blog" class="form-control">
              <option value></option>
              <option value="asc"><%= t ".ascrease" %></option>
              <option value="desc"><%= t ".descrease" %></option>
            </select>
          </div>
          <div class="button-search col-md-1"></br>
            <%= f.submit t(".search"), class: "btn btn-default form-control" %>
          </div>
        </div>
      <% end %>
    </div></br>
    <div class="create-button">
      <%= link_to t(".create_new_blog"), new_admin_blog_path,
        class: "btn btn-primary", id: "create-new-blog",
        data:{turbolinks: false} %>
    </div>
    <div class="kaminari">
      <%= paginate @blogs, theme: "twitter-bootstrap-3" %>
    </div>
    <table class="table table-hover" id="list-table">
      <thead>
        <tr>
          <th><%= t ".id" %></th>
          <th><%= t ".create_time" %></th>
          <th><%= t ".title" %></th>
          <th><%= t ".category" %></th>
          <th><%= t ".recommend" %></th>
          <th><%= t ".author" %></th>
          <th><%= t ".image" %></th>
          <th><%= t ".is_public" %></th>
          <th><%= t ".public_time" %></th>
          <th><%= t ".action" %></th>
        </tr>
      </thead>
      <tbody class="list-blogs">
        <%= render "tbody_list_blog", list: @blogs %>
      </tbody>
    </table>
    <div class="kaminari">
      <%= paginate @blogs, theme: "twitter-bootstrap-3" %>
    </div>
  </div>
</div>
