<div class="row">
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %> fade in hide-flash col-md-3"
      id="flash-message" >
      <a class="close" data-dismiss="alert" href="#" aria-hidden="true">
        &times;
      </a>
      <%= message %>
    </div>
  <% end %>
</div></br>
