<nav class="navbar navbar-default navbar-static-top" id="menu">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="<%= active_class(admin_path) %>">
        <%= link_to t(".home"), admin_path, data: {turbolinks: false} %>
      </li>
      <li class="<%= active_class(admin_blogs_path) %> <%= active_class(new_admin_blog_path) %>">
        <a href="<%= admin_blogs_path %>" data-turbolinks="false">
          <%= t ".blogs" %>
        </a>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
          <%= t ".blog" %>
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="<%= admin_blogs_path %>"><%= t ".list" %></a></li>
          <li><a href="<%= new_admin_blog_path %>">
            <%= t ".creat" %>
          </a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to t(".logout"),
        destroy_admin_session_path, method: :delete %>
      </li>
    </ul>
  </div>
</nav>
