<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner" id="slide-item">
    <div class="item active">
      <%= image_tag Settings.present1, class: "image-item" %>
    </div>

    <div class="item">
      <%= image_tag Settings.present2, class: "image-item" %>
    </div>

    <div class="item">
      <%= image_tag Settings.present3, class: "image-item" %>
    </div>
  </div>

  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="buttons-wrapper">
  <div>
    <span>
      <%= "Let's join with us to get more" %>
    </span></br>
  </div></br>
  <div>
    <a class="btn login-btn">
      <%= t "layouts.header.login" %>
    </a>
    <a class="btn" href="<%= blogs_path %>">
      <%= "list blog" %>
    </a>
  </div>
</div>

<%= render "devise/sessions/form_login" %>
