<!DOCTYPE html>
<html>
  <head>
    <title>Ems</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all',
      'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
      'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    </header>
    <container>
      <%= yield %>
    </container>
  </body>
</html>
